polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        subject.user == "abc") {
        return polkit.Result.YES;
    }
});
